body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
}

/* header */

.container {
    margin: 0 auto;
    border: 5px solid red;
    height: 430px;
    background-color: skyblue;
}

.piha-txt {
    text-align: center;
    position: relative;
    font-size: 0px;
}

.piha-txt a {
    color: green;
}

.piha-text-1 {
    position: absolute;
    top: 25px;
    left: 35%;
    color: white;
    animation: txtAnimation1;
    -webkit-animation: txtAnimation1;
    animation-iteration-count: infinite;
    animation-duration: 7s;
    animation-delay: 0s;
}

.piha-text-2 {
    position: absolute;
    top: 65px;
    left: 35%;
    color: white;
    animation: txtAnimation2;
    -webkit-animation: txtAnimation2;
    animation-iteration-count: 1;
    animation-duration: 7s;
    animation-delay: 7s;
}

.piha-text-3 {
    position: absolute;
    top: 105px;
    left: 35%;
    color: white;
    animation: txtAnimation3;
    -webkit-animation: txtAnimation3;
    animation-iteration-count: 1;
    animation-duration: 7s;
    animation-delay: 14s;
}

.piha-text-4 {
    font-size: 50px;
    position: absolute;
    top: 250px;
    left: 40%;
    color: white;
    animation: txtAnimation4;
    -webkit-animation: txtAnimation4;
    animation-iteration-count: 1;
    animation-duration: 10s;
}

/* images */

.piha-img {
    width: 50%;
    text-align: center;

}

.piha-img-1 {
    left: 30.5%;
    position: absolute;
    animation: imgAnimation1;
    -webkit-animation: imgAnimation1; /* Sarafi and Chrome */
    animation-iteration-count: 1;
    animation-duration: 11s;
    animation-delay: 0s;
}

.piha-img-2 {
    position: absolute;
    right: 25%;
    animation: imgAnimation2;
    -webkit-animation: imgAnimation2;
    animation-iteration-count: 1;
    animation-duration: 33s;
    animation-delay: 0s;
}

.piha-img-3 {
    position: absolute;
    right: 25%;
    animation: imgAnimation3;
    -webkit-animation: imgAnimation3;
    animation-iteration-count: 1;
    animation-duration: 33s;
    animation-delay: 0s;
}

/*

    animation: imgAnimation3;
    -webkit-animation: imgAnimation3;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-duration: 15s;
    animation-direction: alternate; */

/* navigation */

#top-menu {
    margin-top: 10px;
    margin-bottom: 20px;
}

nav {
    padding: 3px 0;
}

nav a {
    padding-left: 20px;
    padding-right: 50px;
    text-decoration: none;
}

nav li {
    float: left;
    display: inline;
    margin-bottom: 10px;
}

/* section */

.section-aside {
    margin-top: 40px;
    padding: 10px;
    border: 5px yellow solid;
    height: 600px;
}

section {
    border: 3px solid blue;
    padding: 25px;
    width: 65%;
    float: left;
    height: 550px;
}

section h1 {
    text-align: center;
}

/* aside */

aside {
    border: 5px solid green;
    float: right;
    width: 30%;
    height: auto;
}

aside img {
    width: 420px;
    height: 600px;
}

/* footer */

#footer {
    border: 5px solid red;
    margin-top: 5px;
    text-align: center;
}

label {
    width: 240px;
    display: inline-block;
}

/* animation */

@keyframes imgAnimation1 {
    0% {bottom: 0%; opacity:1;}
    20% {opacity:1;}
    33.3% {opacity:1;}
    50% {bottom:37%; opacity:1}
    92% {opacity:0;}
    95% {opacity:0;}
    100% {opacity:0;}
}

@keyframes imgAnimation2 {
    0% {right:0%; opacity:0;}
    20% {opacity:0;}
    33.3% {right: 25%; opacity:1;}
    50% { opacity:1;}
    92% { opacity:0;}
    100% {opacity:0;}
}

@keyframes imgAnimation3 {
    0% {opacity: 0;}
    20% {opacity: 0;}
    33.3% {opacity:0;}
    50% {opacity:1;}
    92% {opacity:1;}
    100% {opacity:1;}
}

@keyframes txtAnimation1 {
    0% { opacity: 1;}
    25% {opacity: 1;}
    50% {font-size: 150px; opacity: 1;}
    75% {opacity:1;}
    100% {font-size: 0px; color: red; opacity: 1;}
}

@keyframes txtAnimation2 {
    0% { opacity: 1;}
    25% {opacity: 1;}
    50% {font-size: 150px; opacity: 1;}
    75% {opacity:1;}
    100% {font-size: 0px; color: yellow; opacity: 1;}
}

@keyframes txtAnimation3 {
    0% { opacity: 1;}
    25% {opacity: 1;}
    50% {font-size: 90px; opacity: 1;}
    75% {opacity:1;}
    100% {font-size: 0px; color: yellow; opacity: 1;}
}

@keyframes txtAnimation4 {
    0% {background-color: red; opacity: 0;}
    100% {background-color: red; opacity: 1;}
}