.images {
    width: 100%;
    height: auto;
}
.imageCentre{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    animation: pihaCentre 5s;
}
.imageBottom{
    position: absolute;
    animation: pihaBottom 5s;
    -webkit-animation: pihaBottom 5s; /* Safari and Chrome */
    animation-iteration-count: 1;
    animation-delay: 0s;
}
.imageRight{
    float: right;
    position: absolute;
    animation: pihaRight 5s;
    -webkit-animation: pihaRight 5s; /* Safari and Chrome */
    animation-iteration-count: 1;
    animation-delay: 0s;
}
@keyframes pihaCentre {
    100% {opacity: 0;}
}
@keyframes pihaRight{
    from {right:0%; top:0%;}
    to {right:25%; top:0%;}
}
@-webkit-keyframes pihaRight /* Safari and Chrome */{
    from {right:0%; top:0%;}
    to  {right:25%; top:0%;}
}
@keyframes pihaBottom{
    from {top:50%; bottom:0%; left:35%; opacity:1;}
    to {top:0%; bottom:50%; left:35%; opacity:0;}
}
@-webkit-keyframes pihaBottom{
    from {top:50%; bottom:0%; opacity:1;}
    to {top:0%; bottom:50%; opacity:0;}
}
@keyframes textPihaCentre{
    50% {opacity: 0; scale: 0.5;}
    100% {scale: 1;}
}
@-webkit-keyframes textPihaCentre{
    50% {opacity: 0;}
    100% {scale: 1;}
}
.text-container {
    text-align: center;
    color: white;
}
.text_Piha_Centre{
    font-family:monospace;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: textPihaCentre 1s;
    -webkit-animation: textPihaCentre 1s;
}
.text_Piha_Bottom{
    font-family:monospace;
    font-size: 50px;
    position: absolute;
    top: 10%;
    left: 5%;
}
.text_Piha_Right{
    font-family:monospace;
    font-size: 50px;
    position: absolute;
    top: 10%;
    left: 10%;
}
.nav {
    overflow: auto;
    background-color: #333;
    padding: 10px;
    margin: 10px;
    font-family:Tahoma;
    font-weight: bold;
    border: 2px solid;
    display: block;
}
.nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}  
.nav a:hover {
    background-color: red;
    color: black;
}